<!DOCTYPE html>
<html>
  <head>
    <title>Schifezze</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="materialize-css/css/materialize.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
    {% include 'main.twig' %}

    <script type="text/javascript" src="jquery/jquery.min.js"></script>
    <script type="text/javascript" src="materialize-css/js/materialize.min.js"></script>
    <script type="text/javascript" src="highcharts/highcharts.js"></script>
  </body>
</html>