{% for junk in schifezzeList %}
  <div class="recap card-panel lighten-5 hoverable {% if junk.type=='schifezza' %}indigo {% else %} teal {% endif %}">
    <div class="row">
      <div class="col s2">
        <div class="">
          <i class="material-icons"> {% if junk.type == 'schifezza' %} restaurant {% else %} card_giftcard {% endif %} </i>
        </div>
      </div>
      <div class="col s10">
        <div style="font-size: 12px;">
            <p style="margin: 0">{{junk.description}}</p>
        </div>
        <p class="right-align" style="font-size: 12px; margin: 0"> {{junk.value}} € </p>
      </div>  
    </div>
  </div>
{% endfor %}