<div class="container">
  <div class="row">
    <div class="col s6">
      {% include 'recap.twig' with recap.jop only  %}
      {% include 'add-schifezza-form.twig' with recap.jop only %}
    </div>
    <div class="col s6">
      {% include 'recap.twig' with recap.silvia only  %}
      {% include 'add-schifezza-form.twig' with recap.silvia only %}
    </div>
  </div>

  <div class="row">
    {% include 'pie-chart.twig' with recap only %}
  </div>

  <div class="row">
    <div class="col s6">
      {% include 'junkList.twig' with {schifezzeList: schifezzeList.jop} only  %}
    </div>
    <div class="col s6">
      {% include 'junkList.twig' with {schifezzeList: schifezzeList.silvia} only  %}
    </div>
  </div>
</div>